<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="File" xsi:type="File"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|[${logger:shortName=true}] ${message:exceptionSeparator=String:withException=true:raw=true}"
        fileName="${basedir}/logs/${shortdate}/logfile.log"
        keepFileOpen="true"
        encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" levels="Debug,,Error,Warn" writeTo="File" enabled="true">
      <filters>
        <when condition="equals('${buildConfiguration}','Release')" action="Ignore" />
      </filters>
    </logger> />
  </rules>
</nlog>